kind: Secret
apiVersion: v1
metadata:
  name: gitlab-secrets
  namespace: {{ rhdh_namespace }}
stringData:
  AUTH_GITLAB_CLIENT_ID: {{ gitlab_client_id }}
  AUTH_GITLAB_CLIENT_SECRET: {{ gitlab_client_secret }}
  GITLAB_TOKEN: {{ gitlab_token }}
type: Opaque